html, body {
  font-family: "Ubuntu", sans-serif;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 100vw;
  margin: 0 auto;
}

.intro {
  width: 100vw;
  height: 95vh;
  -webkit-animation: introLoad 1.5s forwards;
          animation: introLoad 1.5s forwards;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.hero-img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateX(-22%);
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  -webkit-animation: fadeIn 4s forwards;
          animation: fadeIn 4s forwards;
}
.top-bar .black-hole {
  padding: 0.75em;
  width: 3em;
  -webkit-animation: rotate 15s infinite;
          animation: rotate 15s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.top-bar .black-hole path {
  fill: rgb(235, 222, 195);
}
.top-bar .menu {
  align-self: right;
  padding: 1em;
  width: 2.75em;
}
.top-bar .menu path {
  fill: rgb(235, 222, 195);
}

.logo {
  color: white;
  font-weight: bold;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}
nav ul a {
  color: #6a4524;
  font-size: 1.5em;
  padding: 0.75em 2em;
  display: block;
  width: 100%;
  text-decoration: none;
}
nav ul a:hover {
  background: rgb(235, 235, 235);
}
nav .close {
  float: right;
  padding: 1em;
  width: 2.75em;
}
nav .close path {
  fill: #6a4524;
}

.open-nav {
  transform: translateX(0%);
}

.title-wrapper {
  position: absolute;
  padding-top: 1.75em;
  padding-left: 0.5em;
  font-size: 2em;
  color: rgb(235, 222, 195);
  text-align: left;
  -webkit-animation: moveDown 1.5s ease-in-out forwards;
          animation: moveDown 1.5s ease-in-out forwards;
  opacity: 0;
  max-width: 200px;
  z-index: -1;
}
.title-wrapper .title {
  text-shadow: -2px 2px #6a4524;
}
.title-wrapper .subtitle {
  margin-top: -1em;
  font-size: 0.65em;
}

.down-arrow {
  animation: moveArrow 1s alternate-reverse infinite;
  width: 3em;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
}
.down-arrow path {
  fill: rgb(235, 222, 195);
}

.item {
  margin: 2em 1em 2em 1em;
  text-align: left;
}
.item ul {
  list-style: square;
  padding: 0 0 1em 1.25em;
  font-weight: bold;
}
.item ul li {
  padding-top: 0.25em;
}
.item .title {
  font-size: 2.25em;
}
.item .item-img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.separator {
  border-bottom: 2px solid black;
}

@media only screen and (min-width: 920px) {
  .wrapper {
    width: 100vw;
    margin: 0 auto;
  }
  .title-wrapper {
    font-size: 3em;
    text-align: left;
    left: -0.25em;
    top: 0.3em;
    max-width: 200px;
  }
  .title-wrapper .subtitle {
    font-size: 0.5em;
    margin-top: -2.5em;
  }
  .hero-img {
    width: 100%;
    transform: translateX(0%);
    margin: 0 auto;
  }
  .menu {
    display: none;
  }
  nav {
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }
  nav svg.close {
    display: none;
  }
  nav ul {
    display: flex;
    margin: 0;
    gap: 2em;
  }
  nav ul a {
    color: rgb(235, 222, 195);
  }
  nav ul a:hover {
    background: none;
    text-shadow: -3px 3px #6a4524;
  }
  .info {
    max-width: 1000px;
    margin: auto;
  }
  .item {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 3em;
    margin: 8em 0 8em 0;
    place-items: center;
  }
  .item .item-img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .item .content {
    justify-self: right;
    text-align: right;
    width: 25em;
  }
  .item.left {
    grid-template-areas: "left right";
  }
  .item.left img {
    grid-area: left;
  }
  .item.left .content {
    text-align: left;
    width: 25em;
    justify-self: left;
  }
}
@media only screen and (min-width: 1400px) {
  .title-wrapper {
    font-size: 3.5em;
    text-align: left;
    left: 0.25em;
    top: -1.25em;
    max-width: 400px;
  }
  .title-wrapper .subtitle {
    font-size: 0.5em;
    margin-top: -2.5em;
  }
}
@media only screen and (min-width: 1700px) {
  .title-wrapper {
    font-size: 4em;
    text-align: right;
    left: 3.25em;
    top: -1.25em;
    max-width: 400px;
  }
  .title-wrapper .subtitle {
    font-size: 0.5em;
    margin-top: -2.5em;
  }
}
@-webkit-keyframes introLoad {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 0 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 0, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@keyframes introLoad {
  from {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 0, 0 100%);
            clip-path: polygon(100% 0, 100% 0, 100% 0, 0 100%);
  }
  to {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
@-webkit-keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveDown {
  from {
    transform: translateY(-100px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes moveArrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes moveArrow {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}/*# sourceMappingURL=index.css.map */